<div class="comment">
	<p><strong><%= comment.name %></strong></p>
	<p><%= comment.created_at.strftime('%B %d, %Y at %I:%M%p') %></p>
	<%= simple_format auto_link comment.body %>
	<p><small><%= link_to 'Reply', new_polymorphic_path([@commentable, Comment], :parent_id => comment) %></small></p>
</div>