<p><strong><%= comments.name %></strong></p>
<p><%= comments.created_at.strftime('%B %d, %Y at %I:%M%p') %></p>
<%= simple_format auto_link comments.body %>
<p><small><%= link_to 'Reply', new_polymorphic_path([commentable, Comment], :parent_id => comments) %></small></p>